{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    // 1 is warning, 2 is error
    "no-console": 1,
    "prettier/prettier": 2
  },
  "overrides": [
    {
      "files": ["**/*.test.ts"],
      "env": {
        "jest": true,
        "node": true
      }
    }
  ]
}